.promotions-title {
  margin-bottom: 10px;
}

// Максимальная ширина для лучшего отображения
// Стандартное отображение - сетка
.promotions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Три столбца
  gap: 20px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

// Настройки для Swiper слайдера
.promotions-slider {
  display: none; // По умолчанию слайдер скрыт

  &__image {
    width: 100%;
    height: auto;
  }
}

// Адаптивный дизайн для телефонов
@media (max-width: 768px) {
  .promotions-wrapper {
    .promotions-grid {
      display: none; // Скрыть сетку
    }

    .promotions-slider {
      display: block; // Показать слайдер
    }
  }
}

// Стандартное отображение для любых разрешений
@media (min-width: 769px) {
  .promotions-wrapper {
    .promotions-slider {
      display: none; // Скрыть слайдер
    }

    .promotions-grid {
      display: grid; // Показать сетку
    }
  }
}
