.product-slider-title {
  margin-bottom: 10px;
}

.product-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.trackWrapper {
  overflow-x: hidden; // 🔧 убираем горизонтальный скролл
  user-select: none;
  cursor: grab;
}

.trackWrapper.dragging {
  cursor: grabbing;
}

.track {
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
}

.card {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  transition: width 0.3s ease;
}
