@use '../../styles/vars' as vars;

.header {
  &__menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas: 'logo catalog search actions';
    align-items: center;
    gap: 1.5rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 100vw;
      height: 1px;
      background: #ededed;
      z-index: 1;
      pointer-events: none;
    }
  }

  &__logo {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: vars.$siteSelectorColor;
    grid-area: logo;
  }

  &__catalog_btn {
    display: flex;
    align-items: center;
    color: vars.$siteSelectorColor;
    padding: 10px 28px;
    grid-area: catalog;
    border: 1px solid vars.$siteSelectorColor;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, stroke 0.3s ease;
    cursor: pointer;
  }

  &__catalog_btn:hover {
    background-color: vars.$siteSelectorColorHover;
    color: #fff;

    .header__catalog_icon {
      stroke: #fff;
    }
  }

  &__catalog_icon {
    width: 26px;
    height: 26px;
    stroke: vars.$siteSelectorColor;
    fill: none;
    margin-right: 16px;
  }

  &__search {
    display: flex;
    grid-area: search;
    height: 48px;

    &-input {
      padding: 8px;
      border: 1px solid #ededed;
      flex-grow: 1;
      border-right: none;
    }

    &-btn {
      align-items: center;
      padding: 12px;
      border: 1px solid #ededed;
      border-left: none;
    }

    &-btn:hover {
      svg {
        stroke: vars.$siteSelectorColorHover;
      }
    }
  }

  &__search_icon {
    width: 26px;
    height: 26px;
    stroke: currentColor;
    fill: none;
  }

  &__actions {
    display: flex;
    gap: 20px;
    grid-area: actions;
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__action svg {
    width: 26px;
    height: 32px;
  }

  &__action:hover {
    svg {
      fill: vars.$siteSelectorColorHover;
    }

    color: vars.$siteSelectorColorHover;
  }

  &__search-btn {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    &__menu {
      gap: 1rem;
    }
  }

  .header__actions {
    gap: 10px;
  }

  .header__action span {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    &__menu {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-areas:
        'catalog logo actions'
        'search search search'; // Поиск — на отдельной строке
      gap: 0.5rem;
      align-items: center;
    }

    &__catalog_btn {
      padding: 10px;
      span {
        display: none; // скрываем текст "Каталог"
      }

      .header__catalog_icon {
        margin-right: 0;
      }
    }

    &__logo {
      justify-self: center;
    }

    &__search {
      width: 100%;
    }

    &__actions {
      gap: 8px;

      .header__action span {
        display: none; // скрываем подписи у иконок
      }
    }

    &__action {
      flex-direction: column;
    }
  }
}
