.catalog_nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 8px 0;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100vw;
    height: 100%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    z-index: -1;
    pointer-events: none;
  }
}
