.filter-item {
  border-bottom: 1px solid #cacaca;
}

.filter-header {
  cursor: pointer;
  padding: 15px 10px;
  font-weight: bold;
  color: #4e4e4e;
}

.filter-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  gap: 10px;
  cursor: pointer;
}

.filter-checkbox {
  margin-right: 10px;
}
